/* COLORS */
$bgc-main: #f7f7f7;
$t-c-dark: #202124;
$t-c-light: #4a4a4a;

/* FONTS */
$roboto: 'Roboto', sans-serif;
$work-sans: 'Work Sans', sans-serif;

/* FONT WEIGHT */
$fw-nr: 300;
$fw-400: 400;
$fw-sbold:600;
$fw-bold : 700;

/* FONT SIZE */
$fs-xsm : .8rem;
$fs-sm : 1.2rem;
$fs-l : 2rem;
$fs-xl : 4rem;
